<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <meta name="description" content="Login">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        {% include('header.html') %}
        {% include('nav.html') %}
        <main>
            <a class="f-right" href="/logout">Logout</a>
            <h2>Hello Admin</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia soluta perspiciatis labore quas temporibus reprehenderit at dolorum aperiam nisi amet iusto molestias officia aspernatur magnam, voluptatum adipisci quod itaque id.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia soluta perspiciatis labore quas temporibus reprehenderit at dolorum aperiam nisi amet iusto molestias officia aspernatur magnam, voluptatum adipisci quod itaque id.</p>
        </main>
        {% include('footer.html') %}        
    </div>
</body>
</html>