<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title | title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        {% include('header.html') %}
        {% include('nav.html') %}
        <main>
            <h2><span>{{data[0].name}}</span> car details</h2>

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/cars">Cars</a></li>
                <li><a href="/cars/{{data[0].name | replace(' ','-')}}">{{data[0].name}}</a></li>
            </ol>

            <table class="table">
                <tr><th>Property</th><th>Value</th></tr>
                <tr><td>Name</td><td>{{data[0].name}}</td></tr>
                <tr><td>Type</td><td>{{data[0].type}}</td></tr>
                <tr><td>Price</td><td>{{data[0].price}}</td></tr>
                <tr><td>Fuel</td><td>{{data[0].fuel}}</td></tr>
            </table>
            
        </main>
        {% include('footer.html') %}        
    </div>
</body>
</html>