<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <meta name="description" content="Login">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        {% include('header.html') %}
        {% include('nav.html') %}
        <main>
            <h2>Main</h2>
            <p>{{msg}}</p>
            <p>{{err}}</p>
            <p>{{error}}</p>
            <p>{{errorMessage}}</p>
            <form action="/login" method="post">
                <label>Username: <input type="text" value="admin" name="username" required></label>
                <label>password: <input type="password" value="123456" name="password" required></label>
                <button class="btn">Login</button>
            </form>
        </main>
        {% include('footer.html') %}        
    </div>
</body>
</html>